<div id="<%= dom_id offering %>">
  <p>
    <strong>Type:</strong>
    <%= offering.type %>
  </p>

  <p>
    <strong>State:</strong>
    <%= offering.state %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= offering.name %>
  </p>

  <p>
    <strong>Min invest amount:</strong>
    <%= offering.min_invest_amount %>
  </p>

  <p>
    <strong>Min target:</strong>
    <%= offering.min_target %>
  </p>

  <p>
    <strong>Max target:</strong>
    <%= offering.max_target %>
  </p>

  <p>
    <strong>Total investors:</strong>
    <%= offering.total_investors %>
  </p>

  <p>
    <strong>Current reserved amount:</strong>
    <%= offering.current_reserved_amount %>
  </p>

  <p>
    <strong>Funded amount:</strong>
    <%= offering.funded_amount %>
  </p>

  <p>
    <strong>Reserved investors:</strong>
    <%= offering.reserved_investors %>
  </p>

</div>
